body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:#444;
    padding:0 10px
}
h1,h2,h3 {
    line-height: 1.2
}
code {
    font-size: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
img, video {
    max-width: 100%;
}
.cover {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#topper {
    background-color: #E8476D;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    z-index: -10;
}
#author {
    color: #E8476D;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 250px;
    padding-right: 20px;
    z-index: -9;
}
#author:before {
    font-family: monospace;
    content: "--> ";
    display: none;
}
#author:hover:before {
    display: inline;
}
#home-title {
    color: #E8476D;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 250px;
    padding-left: 20px;
    z-index: -9;
}
#home-title:after {
    font-family: monospace;
    content: " <--";
    display: none;
}
#home-title:hover:after {
    display: inline;
}

@media (max-width: 800px) {
    .cover {
        width: 100%;
        max-width: 270px;
    }
    #topper {
        height: 180px;
    }
    #home-title, #author {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 5px 0 0 0;
        margin: 0 auto;
    }
}